
.main-block {
    position: relative;
}

#bg-img {
    object-fit: contain !important;
    z-index: -1;
    width: 100%;
    height: 100%;
    /* position: fixed; */
    right: 0;
    bottom: 0;
}

.myapp {
    position: relative;
    height: 0px;
    z-index: 2;
}