#cleanFav-btn {
    width: 35% !important;
    height: 50px;
    background: #bc9366;
    border-radius: 5px;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px !important;

  }
  
  #cleanFav-btn:hover{
    background: rgba(0, 0, 0, 0.84);
    /* background-color: #bc9366; */
    box-shadow: 4px 4px 8px 0px rgba(10, 16, 20, 0.801);
    border: none;
  }

@media all and (max-width: 768px) {
  #cleanFav-btn {
    width: 50% !important;
  }
}

@media all and (max-width: 768px) {
  #cleanFav-btn {
    width: 100% !important;
    font-size: 13px;
  }
}