

#background-video {
       position: fixed;
       right: 0;
       bottom: 0;
       min-width: 100%;
       min-height: 100%;
       width: auto !important;
       height: auto !important;
       z-index: -1;
       display: flex;
       object-fit: cover !important;
}

.title-text {
       width: 35%;
       color: aliceblue;
       text-align: start;
       margin: 10% auto;
       margin-left: 20%;
}

.title-text>h1 {
       text-align: start;
       margin-bottom: 2%;
       font-size: 3rem;

}

.title-text>p {
       color: aliceblue;
}

.header-block {
       display: flex;
       flex-wrap: wrap;
       margin: 5% auto 10%;
       /* position: relative; */
}

.card-header {
       width: 300px !important;
       justify-content: center;
       margin: auto;
}

.card-header>img {
       width: 300px;
}

.card-header-text {
       background: aliceblue;
}

#card-left {
       position: relative;
       margin: 150px auto;
}

#card-center {
       position: relative;
       margin: 150px auto;
}

#card-right {
       position: relative;
       margin: 150px auto;
       
}

.card-descr {
       position: absolute;
       bottom: -20%;
       background: black;
       width: 260px;
       color: aliceblue;
}

.card-descr h4 {
       text-transform: capitalize ;
       margin-bottom: 5%;
}

.about {
       position: relative;
       /* bottom: -20px; */
       bottom: 0;
       display: flex;
       justify-content: center;
}

.about>video{
       width: 100% !important;
       height: 600px;
       object-fit: cover !important;
}
     
.about-text {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       z-index: 1;
       text-align: center;
}

.about-text>h2 {
       color: rgb(243, 243, 74);
       font-size: 4rem;
       text-shadow: 0 1px 0 #302e2e,
               0 2px 0 #433f3f,
               0 3px 0 #393636,
               0 4px 0 #2e2c2c,
               0 5px 0 #272525,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(81, 78, 78, 0.2),
               0 20px 20px rgba(0,0,0,.15);
}
h1{
       color: white;
}

/* @media all and (m) */