#root {
       width: 100% !important;
       height: 100% !important;
}

.navbar {
       background: black !important;
       width: 100% !important;
}

.MuiToolbar-root>button:hover  {
       color: #bc9366 !important;
       transform: scale(1.1);
       transition: 0.4s;
}

.MuiBadge-badge {
       background-color: #d45008 !important;
}

.navbar__logo {
       position: absolute;
       width: 100vw !important;
       display: flex;
       justify-content: center;
       margin: auto;
}
   
.logo_img {
       height: 70px !important;
}

.icon-box {
       width: 135px;
       display: flex;
       justify-content: space-between;
}

@media all and (max-width: 320px) {
       .navbar__logo {
              display: none !important;
       }
}

.icon-btns-nav:hover {
       color: #bc9366 !important;
       transform: scale(1.15);
       transition: 0.7s;
}

#label-name:hover {
       color: #bc9366 !important;
       transition: 0.6s;
}

