.navbar {
       background: black !important;
}

.MuiBox-root>button:hover  {
       color: #bc9366;
       transform: scale(1.1);
       transition: 0.4s;
}

.MuiToolbar-root>a:hover {
       color: #bc9366;
       /* transform: scale(1.1); */
       transition: 0.4s;
}

.MuiBadge-badge {
       background-color: #d45008 !important;
}

.navbar__logo {
       /* margin-bottom: 40px; */
       position: absolute;
       width: 100vw !important;
       display: flex;
       justify-content: center;
       margin: auto;
}
   
.logo_img {
       height: 70px !important;
}

.icon-box {
       width: 10%;
       display: flex;
       justify-content: space-between;
}