.card-prod {
       width: 25% !important;
       margin: 1%;

}

.card-image {
       width: 200px;
       height: 200px;
       object-fit: contain !important;
       margin: auto;
}

.card-title {
       display: flex;
       align-items: start;
       height: 100px;
}

.card-text {
       height: 150px;
}