.container-prods {
       width: 70%;
       display: flex;
       flex-wrap: wrap;
       justify-content: center ;
       margin: auto;
}

#pagination {
       display: flex;
       justify-content: center;
       width: 50%;
       margin: auto;
}

.products-list {
       background: rgb(226 216 205);
}
