.prod-card-container {
       width: 90%;
       display: flex;
       margin: 3% auto;
       flex-wrap: wrap;
}

.image-block {
       text-align: center;
       width: 50%;
       display: flex;
       align-items: center;
       justify-content: center;
       border-right: 1px solid gainsboro;
}

.image-block img {
       height: 600px !important;
       overflow: hidden;
       transition: 0.4s;

}

.image-block:hover img {
       transform: scale(1.1);

}

.info-block-details {
       width: 50%;
       text-align: center;
}

.desc-prod {
       width: 60%;
       margin: auto;
       height: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
}

.desc-prod>h1 {
       color: black;
       margin-bottom: 15%;
}

.desc-btn {
       display: flex;
       width: 70%;
       flex-wrap: wrap;
       flex-direction: column;
}

.desc-btn>button {
       background: rgba(10, 16, 20, 0.836);
       /* background-color: #bc9366; */
       color: aliceblue;
       transition: 0.8;
}

.desc-btn>button {
       margin-bottom: 10px;
}

.desc-btn>button:hover {
       /* background: rgba(10, 16, 20, 0.801); */
       background: #bc9366;
       box-shadow: 4px 4px 8px 0px rgba(10, 16, 20, 0.801);
}

.desc-prod h4 {
       margin-top: 30px;
       text-align: left;
       width: 100%;
       font-weight: 600;
}

.desc-prod {
       text-align: start ;
}

.desc-text {
       border-top: 1px solid gainsboro;
       font-weight: 400;
       padding-top: 15px;
}

#price {
       color: #bc9366;
       font-weight: 700;
       margin-bottom: 20px;
}

.comments-container {
       width: 100% ;
}

.MuiInputBase-root {
       width: 100% !important;
}

.MuiInputBase-root>input::after {
       color: #bc9366 !important;
       border-bottom: #bc9366 !;
}

/* input comment */
#filled-basic {
       width: 300px !important;
       height: 50px;
}

#filled-basic>input::after {
       color: #bc9366 !important;
       border-bottom: #bc9366 !;
}

/* accordion block */
.MuiAccordionDetails-root {
       display: flex;
       flex-direction: column;
       margin: 5px;
}

/* comment button*/
.MuiAccordionDetails-root>button {
       margin-top: 20px;
       margin-bottom: 20px;
       background: rgba(10, 16, 20, 0.836);
}

.MuiAccordionDetails-root>button:hover {
       background: #bc9366;
}

.header-comment {
       display: flex;
       align-items: center;
}

#date {
       color: grey;
       font-weight: 200;
       font-size: 1rem;
       text-align: end;
}
